{% extends 'base.html' %}

{% block title %}
Усі працівники
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Усі працівники на сайті</h1>

        {% if persons|length > 0 %}

            {% for person in persons %}
            <div class="alert alert-info">
                <h2>{{ person.first_name }} {{ person.last_name }}</h2>
                <p>{{ person.position }}</p>
                <p><b>Дата: {{ person.date }}</b></p>
                <a href="/persons/{{ person.id }}" class="btn btn-warning">Детальніше</a>
            </div>
            {% endfor %}
        {% else %}
        <p>У вас ще немає працівників в базі</p>
        {% endif %}
    </div>
{% endblock %}